<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}Multifactor Authentiction{% endblock %}</title>

	<link href="{% static 'multifactor/css/multifactor-main.bundle.css' %}" rel="stylesheet">
</head>

<body class="columns is-vcentered is-centered"><div class="column"><div class="container">
	{% block page %}

	{% for message in messages %}
	<div class="card-content notification is-{{message.tags}}">
		{{ message }}
	</div>
	{% endfor %}

	<div class="">
		<div class="card" id="card">
			<div class="card-header">
				<h1 class="card-header-title is-centered">{% block card_title %}{% endblock %}</h1>
			</div>
			<div class="card-content" id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>
	{% endblock page %}

	<script src="{%static 'multifactor/js/multifactor.bundle.js' %}"></script>
	{% block head %}
	{% endblock %}
</div></div></body>
</html>