{% extends "multifactor/base.html" %}

{% block head %}{% endblock %}
{% block card_title %}Activate Token by Email{% endblock %}
{% block card_classes %}card-login mx-auto{% endblock %}

{% block content %}
<form method="POST" action="" id="formLogin"  onSubmit="" name="FrontPage_Form1">
	{% csrf_token %}
	{% if invalid %}<div class="alert alert-danger">Sorry, The provided token is not valid.</div>{% endif %}
	{% if quota %}<div class="alert alert-warning">{{ quota }}</div>{% endif %}
	<fieldset>
		<p>An email has been sent to you containing an One-Time-Password of 6 digits.</p>
		<p>Please enter the 6-digits sent to your email.</p>

		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-lock"></i>
				</span>
				<input class="form-control" size="6" MaxLength="6" value="" placeholder="e.g 55552" name="otp" type="text" id="otp" autofocus>
			</div>
		</div>

		<input type="submit" class="btn btn-lg btn-success btn-block" value="Verify">
	</fieldset>
</form>
{% endblock %}