{% extends "multifactor/base.html" %}{% load static %}

{% block card_title %}Verify Authenticator{% endblock %}
{% block card_classes %}card-login mx-auto{% endblock %}


{% block content %}
<form method="post" action="" id="formLogin" onSubmit="">
	{% csrf_token %}
	{%  if invalid %}<div class="alert alert-danger">Sorry, The provided token is not valid.</div>{% endif %}
	{% if quota %}<div class="alert alert-warning">{{ quota }}</div>{% endif %}
	<fieldset>
		<p>Enter the 6-digits on your authenticator.</p>

		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-lock"></i>
				</span>
				<input class="form-control" size="6" MaxLength="6" value="" placeholder="e.g 55552" name="otp" type="text" id="otp" autofocus>
			</div>
		</div>

		<button class="btn btn-lg btn-success btn-block" type="submit" {% if mode == "recheck" %}onclick="send_totp()" {% endif %}>Sign in</button>
	</fieldset>
</form>
{% endblock %}


{% block head %}
<script type="application/javascript">
function send_totp() {
	$.ajax({
		"url": "{% url 'multifactor:totp_recheck' %}",
		method: "POST",
		dataType: "JSON",
		data:{
			"csrfmiddlewaretoken": "{{ csrf_token }}",
			"otp": $("#otp").val()
		},
		success:function (data) {
			if (data["recheck"])
				mfa_success_function();
			else {
				mfa_failed_function();
			}
		}
	})
}
</script>
{% endblock %}