{% extends "multifactor/base.html" %}

{% block card_title %}Fallback OTP{% endblock %}

{% block content %}
<p>A fallback one-time-password has been sent to you via {{succeeded}}.</p>
<p>Copy this code into the box below and click verify.</p>

<form action="" method="POST">
	{% csrf_token %}

	<div class="field"><div class="control">
		<input class="input is-primary has-text-centered is-large" type="text" maxlength="6" size="6"  name="otp" placeholder="e.g 12345678" autocomplete="off" autofocus>
	</div></div>

	<button type="submit" class="button is-primary is-large is-fullwidth">Verify</button>
</form>
{% endblock %}

{% block head %}{% endblock %}
