@import url('https://fonts.googleapis.com/css?family=Assistant:400,600');

$family-sans-serif: "Assistant", sans-serif;
$weight-normal: 400;
$weight-bold: 600;

$primary: #33A9FF;
$success: #54BC2B;
$info: #0287FC;
$warning: #FFF028;
$danger: #FF4B3A;

$body-background-color: #EEE;
$control-border-width: 3px;
