<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}Multi-Factor Verification{% endblock %}</title>

	<link href="{% static 'multifactor/css/multifactor-main.bundle.css' %}" rel="stylesheet">
</head>

<body class="columns"><div class="column {% block container_class %}curt{% endblock %}">

	<div class="card-content notification is-success">success test</div>
	<div class="card-content notification is-info">info test</div>
	<div class="card-content notification is-warning">warning test</div>
	<div class="card-content notification is-danger">danger test</div>

	<!-- main home test -->
	<div class="card" id="card">
		<div class="card-header">
			<h1 class="card-header-title is-centered">Test card</h1>
		</div>
		<div class="card-content" id="content">
			
			<div class="dropdown is-right is-hoverable home-add">
				<div class="dropdown-trigger">
					<button class="button is-light" aria-haspopup="true" aria-controls="dropdown-add-factor">
						Add Factor ➕
					</button>
				</div>
				<div class="dropdown-menu" id="dropdown-add-factor" role="menu">
					<div class="dropdown-content">
						<a class="dropdown-item has-right-text" href="#">test</a>
					</div>
				</div>
			</div>

			<p>To keep your account secure, you can add one or more secondary authentication factors. These are commonly USB keys, or codes acquired through a secure mechanism like an authenticator. </p>

			<table class="table is-striped">
				<tbody>
					<tr>
						<td>
							<h3><a href="{% url 'multifactor:rename' key.pk %}" title="Click to rename">
								{{ key.display_name }}
							</a></h3>
							<p>Added {{ key.added_on.date }}. raaa</p>
						</td>
						<td>
								<a class="button disabled" href="#" title="Unlocked">🔓</a>
								<a class="button is-light" href="{% url key.auth_url %}" title="Locked, click to authenticate">🔒</a>
							<form action="{% url 'multifactor:toggle_factor' %}" method="POST">
								<button type="submit" name="kid" value="{{key.pk}}" class="button is-{{key.enabled|yesno:'success,warning'}}">{{key.enabled|yesno:'Enabled,Disabled'}}</button>
							</form>
							<form action="" method="POST">
								<button type="submit" name="kid" value="{{key.pk}}" class="button is-danger delete">Delete</button>
							</form>
							
						</td>
					</tr>
					<tr>
						<td>
							<strong>Fallback verification factors</strong>
							<p>Consider turning these off for higher security.</p>
						</td>
						<td>
							<form method="POST" action="{% url 'multifactor:toggle_fallback' %}">
								<button type="submit" name="fallback" value="{{fb_name}}" class="button button-ml is-{{ fb_enabled|yesno:'success,light' }}" title="{{fb_name}} fallback {{ fb_enabled|yesno:'enabled,disabled' }}, click to toggle." {% if not can_edit %} disabled{% endif %}>
									<span>{{fb_name}} {{ fb_enabled|yesno:'✔,✗' }}</span>
									<small class="d-block">{{fb_destination}}</small>
								</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>

			<a href="#explanation" class="button is-fullwidth is-small" data-collapse="explanation">What is multi-factor authentication? Where do I start?</a>

			</div>
			<div class="card-footer collapse open" id="explanation"><div class="card-content"><div class="content">
				<h4>What is multi-factor authentication?</h4>
				<p>Traditionally you have logged in with a username and password, maybe directly, maybe through a single sign-in portal. It's a tried and tested authentication system but it's weak. People pick bad passwords, enter them into the wrong places, write them down on paper, give them to the wrong people.</p>

				<p>Credentials are <strong>something you know</strong>. Multi-factor authentication adds different types of factor, like <strong>something you have</strong> (a USB security token, your phone), or <strong>something you are</strong> (fingerprint, voice scan, location). For somebody to break in, they would need your credentials <em>and</em> the (eg) Security USB key you keep on your keychain. It dramatically decreases the threat of phishing and data breaches.</p>

				<h4>Where to start? Which factor should I add?</h4>
				<p>While there are hundreds of products compatible with this system, we support three main types of factor...</p>

				<div class="columns">
					<div class="column"><div class="card">

						<div class="card-header">
							<h5 class="card-header-title is-centered">TOPT Authenticators</h5>
						</div>
						<div class="card-content">
							<p>Free for anybody with a phone.</p>
							<p>Install Google Authenticator or Authy from your phone's marketplace. Click the Add button above, and select TOTP Authenticator. Scan in the barcode in your Authenticator app. It will give you a 6-digit code to type back into this website. That's it, you're paired.</p>
							<p>The code will rotate every 30 seconds. To authenticate later, you will be asked what the current code is.</p>
						</div>
					</div></div>
					<div class="column"><div class="card">
						<div class="card-header">
							<h5 class="card-header-title is-centered">FIDO2 Devices</h5>
						</div>
						<div class="card-content">
							<p>A broad range of devices:</p>
							<ul>
								<li>Windows Hello fingerprint or facial recognition</li>
								<li>Google Chrome</li>
								<li>Google Android via biometrics or location</li>
								<li>FIDO2 USB and NFC keys</li>
							</ul>
							<p>Windows Hello is convenient but can tie you to one computer. Physical keys are useful for mobile usage.</p>
						</div>
					</div></div>
					<div class="column"><div class="card">
						<div class="card-header">
							<h5 class="card-header-title is-centered">U2F/FIDO1 USB devices</h5>
						</div>
						<div class="card-content">
							<p>The predacessor to FIDO2, these are usually USB devices that start blinking when you need to authenticate. Press the button and you're done.</p>
							<p>These are cheap and convenient for desktop-only installations.</p>
						</div>
					</div></div>
				</div>

				<h4>What are fallback factors?</h4>
				<p>They <em>are</em> secondary factors but they are usually weaker, more insecure and commonly more inconvenient than plugging in a USB key. They are however, a good defence from getting locked out when your primary factors aren't available.</p>
				<p>When you request to authenticate with a secondary factor, we send a the same OTP to all your devices. If you get a message like this and didn't request it, it could mean your main account is compromised.</p>

				<h4>What happens if I lose my factor or don't have access to it when I need it?</h4>
				<p>Contact an administrator immediately. They can deactivate or remove your active factors, allowing you to add another.</p>
				<p>We recommend you keep a backup secondary factor. Having a FIDO2 token is convenient (eg just leave your keys plugged in while you're at your computer) but having a TOPT authenticator will serve as a suitable backup if you misplace your keys. Additional factors can dilute over-all security.</p>
			</div><div></div>
		</div>
	</div>



	<!-- auth list -->
	<div class="card" id="card">
		<div class="card-header">
			<h1 class="card-header-title is-centered">Test card</h1>
		</div>
		<div class="card-content" id="content">
			<p class="has-text-centered">You are logged in but we need to verify one of your secondary factors to continue. Please pick one.</p>
			<a class="button is-primary is-large is-fullwidth" href="/control/multifactor/u2f/auth/">U2F Security Key →</a>
			<a class="button is-primary is-large is-fullwidth" href="/control/multifactor/totp/auth/">TOTP Authenticator →</a>
			<a class="button is-primary is-large is-fullwidth" href="/control/multifactor/fido2/auth/">FIDO2 Security Device →</a>
		</div>
	</div>


	<!-- rename dialogue list -->
	<div class="card" id="card">
		<div class="card-header">
			<h1 class="card-header-title is-centered">Test card</h1>
		</div>
		<div class="card-content" id="content">
			<p>This step is completely optional. Give your TOTP Authenticator a better name to help you distinguish it from your other keys.</p>

			<form action="" method="POST">
				<input type="hidden" name="csrfmiddlewaretoken" value="96lg8ZehbJZ9emRhsk3K2R1EW5VNWs1H7ZWQzAR0eB4FO9kuYzxkIDFfly2jLuh6">

				<div class="field"><div class="control">
					<input class="input is-primary has-text-centered is-large" type="text" name="name" placeholder="e.g Keyring USB" autocomplete="off" value="" autofocus>
				</div></div>

				<button type="submit" class="button is-primary is-large is-fullwidth">Update</button>
			</form>
		</div>
	</div>

	<!-- totp new  -->
	<div class="card" id="card">
		<div class="card-header">
			<h1 class="card-header-title is-centered">Test card</h1>
		</div>
		<div class="card-content" id="content">
			<p>Start by downloading an Authenticator App on your phone. <a href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2' target='_blank'>Google Authenticator for Android</a> or <a href='https://itunes.apple.com/us/app/authy/id494168017' target='_blank'>Authy for iPhones</a>.</p>

			<div class="qr-block">
				<img id="qr" />
				<p><code>{{secret_key}}</code></p>
			</div>

			<p>Scan the barcode above with your Authenticator. It will give you a rotating 6-digit code.</p>
			<p>Copy that code into the box below and click Verify.</p>
			{% endblock preform %}

			<form action="" method="POST">
				{% csrf_token %}
				<input type="hidden" name="key" value="{{secret_key|safe}}">

				<div class="field"><div class="control">
					<input class="input is-primary has-text-centered is-large" type="text" maxlength="6" size="6"  name="answer" placeholder="e.g 123456" autocomplete="off" autofocus>
				</div></div>

				<button type="submit" class="button is-primary is-large is-fullwidth">Verify</button>
			</form>

		</div>
	</div>

	<!-- error screen -->
	<div class="card has-background-danger has-text-white has-text-centered" id="card">
		<div class="card-header">
			<h1 class="card-header-title is-centered">U2F Security Key</h1>
		</div>
		<div class="card-content" id="content">U2F only works under HTTPS</div>
	</div>



	<div class="card" id="card">
		<div class="card-header">
			<h1 class="card-header-title is-centered">Which factor would you like to authenticate with?</h1>
		</div>
		<div class="card-content" id="content">
			<p class="has-text-centered">You are logged in but we need to verify one of your secondary factors to continue. Please pick one.</p>
			<a class="button is-primary is-large is-fullwidth" href="/control/multifactor/u2f/auth/">U2F Security Key →</a>
			<a class="button is-primary is-large is-fullwidth" href="/control/multifactor/totp/auth/">TOTP Authenticator →</a>
			<a class="button is-primary is-large is-fullwidth" href="/control/multifactor/fido2/auth/">FIDO2 Security Device →</a>
		</div>
		<div class="card-footer">
			<a href="/control/multifactor/fallback/auth/" class="button is-100 button-ml is-light">
				<strong>Send Fallback Token</strong>
				<small>Email + SMS</small>
			</a>
		</div>
	</div>


</div></body>
</html>