@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Assistant:400,600');
$family-sans-serif: "Assistant", sans-serif;
$weight-normal: 400;
$weight-bold: 600;

$primary: #33A9FF;
$success: #54BC2B;
$info: #0287FC;
$warning: #FFF028;
$danger: #FF4B3A;

$body-background-color: #EEE;
$control-border-width: 3px;

@import "../node_modules/bulma/bulma.sass";

html, body {min-height:100vh;}
body {
	margin: 50px 20px 50px;
	display: flex;

	@include until($tablet) {
		margin-top: 0 !important;
		:last-child {margin-bottom:0 !important;}
	}
	@include from($tablet) {
		align-items: center;
		justify-content: center;
	}
}
body > .column {
	padding-bottom:0;

	@include until($tablet) {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		padding-top:0;
	}

	@include from($tablet) {
		max-width: 1020px;
		margin-left:20px;
		margin-right: 20px;
		&.curt {max-width: 450px}
	}


	> .notification {
		margin: 1.5rem 0 0 0 !important;
		text-align: center;

		@include until($tablet) {
			border-radius: 0;
			margin: 0 !important;
		}
		flex-grow: 0;
	}

	> .card {
		@include until($tablet) {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			> .card-content {flex-grow: 1}
			&, > .card-header {box-shadow: none !important;}
		}
		@include from($tablet) {
			min-height: 0;
			margin-top:1rem;
			margin-bottom:10%;
		}
		:last-child, .card-content :last-child {margin-bottom: 0 !important;}
	}
}

.card {
	border-radius: 3px;
	overflow: hidden;
}

.card-header {
	box-shadow: none;
	margin-top: 0.75rem;
	margin-bottom: -.75rem;
	flex-direction: column;
	text-align: center;

	h1, h2, h3, h4, h5 {
		text-align:center;
		font-size: 1.4rem;
		margin:0;
	}
}
.card-footer {
	border-top: 0;

	.card {height:100%}

	// authenticate full-width (flex) button
	> .button {
		border-radius: 0;
		padding: 0.75rem 1rem;
	}
}

.card.has-background-danger-dark {
	text-align: center;
	color: $white;
	.card-header-title {color: $white;}
}

p {margin-bottom: 1em;}

.table {
	width: 100%;
	td {
		vertical-align: middle;
		:last-child {
			margin-bottom:0;
		}
		&:last-child {
			text-align: right;
			width:10%;
			white-space: nowrap;
		}
		form {
			display: inline;
		}
	}


	@include until($tablet) {
		td {
			display: block;
			padding-bottom: 0.5rem;
			width: 100%;
		}
		tr, td {border: 0;}
	}

	h3 {font-weight: $weight-bold}
}

.button-ml {
	display: inline-block;
	height: auto;
	span, small, strong {
		display: block
	}
}

.is-100 {width: 100%}

.field {margin-bottom:1rem;}
.button.is-fullwidth {margin-bottom:1rem;}

h4 {
	font-size: 1.4rem;
	border-bottom: 1px solid $hr-background-color;
	padding-bottom: 4px;
	margin-bottom: 4px;
}


.button.is-multilayer {
	flex-direction: column;
	height:auto;

	small {
		display: block;
		font-size: 0.9rem;
	}	
} 

.home-add {
	float:right;
	margin: 0 0 1rem 1rem;
}

.qr-block {
	margin-bottom:1rem;
	text-align: center;
	> div {
		margin-bottom: 0.5rem;
		img {margin: auto;}
	}
}

#content .columns > .column {
	> .card {
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	@include from($tablet) {
		padding-bottom:0;
	}
	.card-content {flex-grow: 1}
}

.button.is-toggle {
	position: relative;
	padding-left: 1.25em;
	padding-right: 1.25em;
	opacity: 1;
	transition: background-color 0.5s, color 0.5s;

	&:before{
		content: " ";
		display: block;
		width: 12px;
		background: rgba(255, 255, 255, 0.8);
		border: 2px solid #ccc;
		border-radius: 4px;
		position: absolute;
		top: 0px;
		bottom: 0px;
		transition: left 0.7s, right 0.7s;
	}
	&:hover {
	}
	&.is-toggled-on {
		@extend .button.is-success;
		&:before {
			left: 0px;
		}
		&:hover {
			background-color: #eee !important;
			border-color: transparent !important;
			color: #363636 !important;
		}
		&:hover {
			@extend .button.is-light:hover;
		}
		&:hover:before {
			left: calc(100% - 12px);
		}
	}
	&.is-toggled-off {
		@extend .button.is-light;
		&:before {
			right: 0px;
		}
		&:hover {
			@extend .button.is-success:hover;
		}
		&:hover:before {
			right: calc(100% - 12px);
		}
	}
}

#authtype.automatic button {display: none;}
#authtype.manual p {display: none;}

.delete-button {
	span { display: none; }
	&:after {
		content: "✖"
	}
}